{% set currentRoute = app.request.attributes.get('_route') %}

<nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('lesson_index') }}">Leçon</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('objectif_index') }}">Objectif</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('competition_index') }}">Competition</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Déconnexion</a>
            </li>
           
            
    </ul>
</nav>
